/* eb-garamond-regular - latin */
@font-face {
  font-family: 'Zen Kurenaido';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('#{$asset_url}/fonts/ZenKurenaido-Regular.ttf'); /* IE9 Compat Modes */
}